           <!-- side logo-->
			.c1{

			background-color:#F3D6E4;
			border-right: 5px solid #AD5D5D;
			height: inherit;
			max-height: inherit;
		
		    }
			.logo{
                background-color: transparent;
				box-sizing: border-box;
				width: 100%;
				margin-top:13%;
				
			}
			.content{
				padding:8%;
				color:#4285F4;
				text-shadow: 1px 1px 2px #FFF, 0 0 25px #FFF, 0 0 5px darkblue;	
			}
			.theme{
                 line-height: 1;
                text-align: justify;
                letter-spacing:2px;
                font-weight: bolder;
                font-size:60px;
                animation-delay: .4s;

			}
			.rights{
                padding:2.5% 20%; 
				color:#005960;
				background-color: #000;
			}
		     <!--reg,login forms-->
			.c2,.c3{

                margin:3% 12%;
                border:1px solid black;
                padding: 60px 20px;
                box-sizing: border-box;
                animation-delay:1.5s;
                background-color:#fff;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

			}
			.login,.reg{
				background-color:green;
				text-align: center;
				color: white;
				padding: 4%;
				margin-top:-20%;

			}
			.regform{

				max-width: inherit;
				max-height: inherit;
				background-color:#AD5D5D;
				padding-right:15px; 
			}
			.btn-md{
				padding: 10px 40px;
				margin-left:35%;
			}
			input[type="email"]:hover{
				border: 1px solid green;
			}
			input[type="password"]:hover{
				border: 1px solid green;
			}

            input[type="text"]:hover{
                border: 1px solid green;
            }
			.down{
				text-align: center;
				margin-bottom: -7%;
				box-sizing: border-box;
				padding: -10%;
			}
			span.star{
				color: red;
			}
			
            .header{
                
            	background-color:green;
            	text-align:left;
           
            }
            .title{
            	color: #fff;
            }
           
     